.body{
    padding: 0 5% 0 5%;
    height: 90vh;
}
.row-one{
    height: 5vh;
}
.row-two{
    height: 10vh;
    padding-top:5vh;
}
.row-three{
    height: 10vh;
    
}
.row-four{
    height: 60vh;
    padding: 0 20% 0 20%;
}

.menu{
    border: 1px solid #979797;
    border-right: 0px;
    height: 40px;
    padding-top:10px;
    /* background-color: #F2F2F2; */
}
.underline{
    border-bottom: 1px solid #979797;
    padding-bottom:1vh;
    font-size: 14px;
}
.gen{
    padding-top:2vh;
}
.image1{
    height:35vh;
    background-color: chartreuse;
    margin-bottom: 15px;
}
.image2{
    height:35vh;
    background-color: firebrick;
    margin-bottom: 15px;
}
.image3{
    height:35vh;
    background-color: gray;
    margin-bottom: 15px;
}
.image4{
    height:35vh;
    background-color: rebeccapurple;
    margin-bottom: 15px;
}
.list{
    margin-left:15px;
    padding-top:15px;
    font-size: 11px;
    line-height: 13px;
}

/* overlay */
.middle {
    height:35vh;
    width: 230px;
    background-color: black;
    margin-bottom: 15px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
	line-height: 22px;

  }
  
  .gen:hover .img-card {
    opacity: 0.9;
  }
  
  .gen:hover .middle {
    opacity: 1;
  }
  .fa-plane{
      font-size:16px;
  }

  select {

    /* styling */
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }


  .but{
      margin-left:0%;
      margin-top:20px;
      background-color: #16A085;
      color: #fff;
      font-size:12px;
      font-weight:600;
      width:67%;
      margin-bottom: 20px;
  }
  .threea{
      border: 1px solid #E8E8E8;
      height: 8vh; 
      margin-top:0.5vh; 
      margin-bottom:0.5vh;
      
  }
  .hr{
    /* margin-left: 10%;
    margin-right: 10%; */
    
    background-color: #979797;
    height: 2px;
    width: 70%;
    margin:0 auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .onea{
    height: 45vh;
    border: 1px solid #E8E8E8;
  }
  .about{
    width: 70%;
    margin:0 auto;
  }
  .inp{
    background-color: #F8F8F8;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.5em;
    height: 54px;
    padding: 0.5em 3.5em 0.5em 1em;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
  }
  .form{
      width:60%;
  }